# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
azunyan
.env

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#Bower modules
bower_components
node_modules

#idea settings
.idea

#vscode
.vscode

#Vendor modules
vendor
