
body {
    font-family: 'Roboto', sans-serif;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: -0px;
    bottom: -0px;
    z-index: 10;
    visibility: visible;
    background-size: cover;
    background: url("../images/azunyan.gif") no-repeat center;
}

#leftbar {
    position: absolute;
    top:0;
    left:0;
    width: 500px;
    padding: 0 10px;
    height: 100%;
}

#leftbar img {
    bottom: 10px;
    width: 500px;
    position:absolute;
}

#message {
    height: 60%;
}

#mainbody{
    position: absolute;
    top:0;
    left:520px;
    right: 0;
    height: 100%;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: deepskyblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, deepskyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, deepskyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, deepskyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, deepskyblue, white); /* Standard syntax */
}

#nowplaying{
    border-radius: 10px;
    margin:20px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:0;
    left:0;
    right:0;
    text-align: center;
    color: white;
    height: 750px;
    background: #2b2b2b;
}

#nowplaying img {
  border-radius: 10px 10px 0 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

#nowplaying h1 {
    font-size: 60pt;
}

#nowplaying h2 {
    font-size: 40pt;
    margin:0;
}

#nowplaying h3 {
    font-size: 20pt;
    margin:0;
    color:gray;
}

#queue{
    position: relative;
    top:0;
    left:50px;
    right:0;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    overflow: scroll;
}

#queue::-webkit-scrollbar {
    display: none;
}

#waiting{
  left: 50px;
  right: 0px;
  overflow: scroll;
  position: relative;
  height: 40%;
  margin: 10px;
  border-radius: 10px;
  background-color: lightgrey;
}

#waiting::-webkit-scrollbar {
    display: none;
}

#overlay img{
    position:absolute;
    top:50%;
    left:200px;
    height: 400px;
    margin-top: -200px;

}

.queueitem {
    border-radius: 5px;
    margin: 0 auto;
    height:50px;
    width: 90%;
    background: #4e5664;
    position: absolute;
}

.itemtitle {
    font-size: 25px;
    margin-left: 10px;
    width:70%;
    color: white;
}

.itemartist {
    font-size: 15px;
    margin-left: 10px;
    width:70%;
    color: white;
}

.itemsingers {
    left:70%;
    width:30%;
    position: absolute;
    top:10px;
    font-size: 20px;
    color: lightgrey;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.marquee h1 {
    margin-top: 50px;
    margin-bottom: 5px;
    line-height: 50px;
    text-align: center;
    animation: marquee 15s ease-in-out infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0%      {transform: translate(10%, 0);}
    50%     {transform: translate(-110%, 0);}
    100%    {transform: translate(10%, 0);}
}
