/* - MASTER.RESET <<<--------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, active, hover, selected {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
}

ol,ul {
    list-style: none;
}

/* Our stylings */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: -0px;
    bottom: -0px;
    z-index: 10;
    visibility: visible;
    background-size: cover;
    background: white;
}

#overlay #welcomeimage {
    margin-top: 150px;
    max-height: 40vh;
    max-width: 65vw;
    margin-left: 4rem;
    margin-right: auto;
    display: block;
}

#overlay #azunyangif {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

#leftbar {
    padding: 0 10px;
    height: 100vh;
}

#leftbar #disp_logo {
    bottom: 10px;
    height: 25%;
    margin: auto;
    position: relative;
    display: block;
}

#message {
    height: 60%;
    position: absolute;
}

#mainbody{
    height: 100vh;
    flex: 1;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: deepskyblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, deepskyblue, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, deepskyblue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, deepskyblue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, deepskyblue, white); /* Standard syntax */
}

.mainbody_title {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 2.2rem;
}

#nowplaying{
    border-radius: 10px;
    margin:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: white;
    width: fit-content;
    height: 70vh;
    background: #2b2b2b;
}

#nowplaying img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-height: 60%;
}

#nowplaying h1 {
    font-size: 60pt;
}

#nowplaying h2 {
    font-size: 40pt;
    margin:0;
}

#nowplaying h3 {
    font-size: 20pt;
    margin:0;
    color:gray;
}

.songinfo {
    width: 450px;
    margin: auto;
}

#queue{
    height: 55%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 30px 10px 30px;
    overflow: scroll;
}

#queue::-webkit-scrollbar {
    display: none;
}


.queueitem {
    border-radius: 5px;
    margin: 0 auto 10px;
    height:50px;
    width: 100%;
    background: #4e5664;
    position: relative;
}

.itemtitle {
    font-size: 25px;
    margin-left: 10px;
    width:70%;
    color: white;
}

.itemartist {
    font-size: 15px;
    margin-left: 10px;
    width:70%;
    color: white;
}

.itemsingers {
    left:70%;
    width:30%;
    position: absolute;
    top:10px;
    font-size: 20px;
    color: lightgrey;
}


#waiting{
  right: 0px;
  overflow: scroll;
  position: relative;
  height: 25%;
  margin: 10px 30px 10px 30px;
  border-radius: 10px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px 0;
}

#waiting::-webkit-scrollbar {
    display: none;
}

.partialItem {
  width: 300px;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: darkgrey;
  margin: 5px;
  padding-left: 10px;
  flex: 1;
}

.partialSongDetails {
  width: 230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partialitemtitle {
  width: 100%;
  top: 0;
  font-size: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.partialitemartist {
  width: 100%;
  top: 0;
  font-size: 0.8em;
  color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.partialitemsingerscount {
  top: 0;
  left: 250px;
  font-size: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.marquee h1 {
    margin-top: 50px;
    margin-bottom: 5px;
    line-height: 50px;
    text-align: center;
    animation: marquee 15s ease-in-out infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0%      {transform: translate(10%, 0);}
    50%     {transform: translate(-110%, 0);}
    100%    {transform: translate(10%, 0);}
}

/* For tablet screens */
@media only screen and (max-width: 1366px) {
    #nowplaying {
      width: 450px;
    }

    .mainbody_title {
        font-size: 2rem;
    }

    #nowplaying h1 {
        font-size: 45pt;
    }

    #nowplaying h2 {
        font-size: 35pt;
    }

    #leftbar {
        width: fit-content;
    }
}

/* For mobile screens */
@media only screen and (max-width: 1024px) {
    #nowplaying {
      width: 100%;
      margin: 0;
      height: fit-content;
    }

    .mainbody_title {
        font-size: 2rem;
    }

    #nowplaying h1 {
        font-size: 45pt;
    }

    #nowplaying h2 {
        font-size: 35pt;
    }

    #leftbar {
        padding: 20px;
        width: 100%;
        height: unset;
        min-width: 0;/* Fixes Firefox spacing issues with Flexbox */
    }

    #leftbar #disp_logo {
        height: unset;
        width: 100%;
        margin: 10px 0;
    }

    .songinfo {
        margin-bottom: 20px;
        width: unset;
        text-align: center;
    }

    #overlay #welcomeimage {
        max-width: 100vw;
        margin: 15px auto;
        display: block;
        padding: 0 20px;
        box-sizing: border-box;
    }

    #overlay #azunyangif {
        width: 200vw;
    }

    .itemtitle {
        font-size: 1rem;
        margin-top: 5px;
    }

    .itemsingers {
        font-size: 1rem;
    }

    #mainbody {
        min-width: 0; /* Fixes Firefox spacing issues with Flexbox */
        height: unset;
    }
}